==== Error Codes

|===
|Type|Name|Code|Status|Message

{{#fields}}

|{{#tableCellContent}}{{type}}{{/tableCellContent}}
| {{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{status}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}

{{/fields}}
|===